@import '../../../media.scss';

.examContainer {
  margin-bottom: 44px;
  .imageBlock {
    max-width: 747px;
    max-height: 452px;
    overflow: hidden;
    background-repeat: no-repeat !important;
    background-position: center center;
    background-size: cover;
    img {
      width: 100%;
      height: 452px;
      //visibility: hidden !important;
    }
  }
  .listsBlock {
    max-width: 755px;
    .listsRow {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      .listItem {
        max-width: 376px;
        width: 100%;
        background-color: #ffebcd;
        .listHead {
          background-color: #100a30;
          text-align: center;
          padding: 13px 0 10px 0;
          span {
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 26px;
            line-height: 39px;
            color: #ffffff;
          }
        }
        .listBody {
          padding: 12px 32px;
          ul {
            margin: 0;
            li {
              font-family: 'Poppins', sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 24px;
              color: #010004;
              margin-bottom: 12px;
              &:last-child {
                margin-bottom: 0 !important;
              }
            }
          }
        }
      }
    }
  }
  .utilitiesBlock {
    .utilitiesBlockItem {
      margin-bottom: 25px;
      .flexBlock {
        display: flex;
        align-items: center;
      }
      .timer {
        margin-left: 30px;
      }
      .utilitiesBlockText {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #010004;
        margin: 0;
        margin-bottom: 20px;
      }
    }
  }
  .rightSide {
    padding-left: 10px;
    padding-top: 65px;
    @include media('max', 'md') {
      padding-left: 0px !important;
      padding-top: 0 !important;
      flex-direction: column !important;
    }
  }
}
