.answersPage {
  .answerTable {
  }
  .paginationBlock {
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    .paginationRow {
      display: flex;
      width: 100%;
      justify-content: space-between;
      max-width: 1000px;
      align-items: center;
      .paginationByRows {
        .paginationByRowsItem {
          display: flex;
          justify-content: space-between;
          align-items: center;
          p {
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            color: #010004;
            margin: 0;
          }
          select {
            margin-left: 10px;
            padding: 5px 10px;
          }
        }
      }
    }
  }
}
