@import "../../../../media.scss";
.usersTable {
  .usersTableBlock {
    display: flex;
    justify-content: center;
    @include media("max", "md") {
      display: block !important;
    }
    & > div {
      padding: 0 20px;
      width: 100%;
      border-right: 1px solid #100a30;
      &:last-child {
        border: none !important;
      }
      @include media("max", "md") {
        margin-bottom: 20px;
        border: none !important;
        padding: 0 !important;
        &:last-child {
          margin-bottom: 0 !important;
        }
      }
    }
    .teacherTable {
    }
    .operatorTable {
    }
    .teacherTableP {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: #111111;
      margin: 0;
      margin-bottom: 14px;
    }
  }
}
