.questionPage {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 20px;
  .quetionsList {
    .quetionsListBlock {
      .quetionsListRow {
        .questionsItem {
          border: 1px solid #336b88;
          display: flex;
          justify-content: center;
          min-height: 110px;
          padding: 5px;
          border-radius: 20px;
          align-items: center;
          transition: all 0.3s ease;
          cursor: pointer;
          .questionsItemName {
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            text-align: center;
            color: #336b88;
            transition: all 0.3s ease;
          }
          .questionsItemIcon {
            display: none;
          }
          &:hover {
            transition: all 0.3s ease;
            background-color: #00000057;
            .questionsItemName {
              display: none;
            }
            .questionsItemIcon {
              display: block;
            }
          }
        }
      }
    }
  }
  .createQuestions {
    h5.createQuestionsHead {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 45px;
      color: #100a30;
      margin: 0;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
    .createQuestionsForm {
      .createQuestionsPart {
        border: 1px solid #100a30;
        padding: 10px;
        .createQuestionsPartHead {
          font-family: 'Poppins', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 23px;
          line-height: 30px;
          color: #ffffff;
          margin: 0;
          margin-bottom: 20px;
          background-color: #100a30;
          text-align: center;
          padding: 10px;
        }
        .createQuestionRow {
          .createQuestionItem {
            border-right: 1px solid #100a30;
            padding-right: 10px;
            &:last-child {
              border-right: none;
            }
            .createQuestionItemHead {
              font-family: 'Poppins', sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 19px;
              line-height: 25px;
              color: #100a30;
              margin: 0;
              margin-bottom: 20px;
            }
            .createQuestionsInputBlock {
              .createQuestionsInputItem {
                  margin-bottom: 10px;
                .createQuestionP {
                  font-family: 'Poppins', sans-serif;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 17px;
                  line-height: 30px;
                  color: #111111;
                  margin: 0;
                  margin-bottom: 14px;
                  text-transform: capitalize;
                }
                .createQuestionInput {
                    width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
