@import '../../../media.scss';

table.customTable {
  width: 100%;
  thead {
    tr {
      th {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 17px;
        color: #888888;
        text-transform: uppercase;
        text-align: left;
        padding: 0 5px;
        padding-bottom: 10px;
        // max-width: 20%;
        @include media('max', 'sm') {
          font-size: 8px !important;
          line-height: 10px !important;
        }
        &.answerTableCenter {
          text-align: center !important;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #010004;
        padding: 0 5px;
        max-width: 200px;
        @include media('max', 'sm') {
          font-size: 8px !important;
          line-height: 9px !important;
          max-width: 150px;
        }
        span {
          display: block;
          text-align: center;
          &.answersIcon {
          }
        }
      }
    }
  }
}
