@import "../../../media.scss";
.partNav {
  max-width: 460px;
  margin: 0 auto;
  @include media("max", "md") {
    max-width: 280px;
  }
  .partNavRow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .partNavItem {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .partNavIcon {
        width: 38px;
        height: 38px;
        border: 2px solid #ff9a03;
        border-radius: 100%;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ff9a03;
        margin-bottom: 6px;
        transition: all 0.3s ease;
        position: relative;
        &:before {
          content: "";
          display: block;
          background: #ff9a03;
          height: 2px;
          width: 170px;
          /* max-width: 450%; */
          position: absolute;
          left: -449%;
          @include media("max", "md") {
            width: 78px !important;
            left: -207% !important;
          }
        }
      }
      .partNavName {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #100a30;
      }
      &.active,
      &:hover {
        .partNavIcon {
          color: #ffffff;
          background: #ff9a03;
          transition: all 0.3s ease;
        }
      }
      &:first-child {
        .partNavIcon:before {
          display: none;
        }
      }
    }
  }
}
