@import "../../../media.scss";
.customButton {
  width: 100%;
  background: #ff9a03;
  padding: 7px 16px;
  border-radius: 5px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  transition: all 0.3s ease;
  outline: none;
  border: none;
  display: block;
  cursor: pointer;
  height: 50px;
  @include media("max", "lg") {
    padding: 5px 10px !important;
    font-size: 17px !important;
    line-height: 25px !important;
    // width: 70% !important;
    // height: 34px !important;
    // margin: 0 auto !important;
  }
  &:hover {
    background: #f7b552;
    transition: background 0.2s ease;
  }
  &:disabled {
    background-color: #a6a6a6 !important;
  }
  &.warning {
    background-color: #d64242;
    &:hover {
      background-color: #c95656;
      transition: background 0.2s ease;
    }
  }
}
