@import "../media.scss";
.adminBtn {
  max-width: 250px;
  margin-bottom: 30px;
  @include media("max", "lg") {
    max-width: 200px;
    button {
      padding: 5px 10px !important;
      font-size: 17px !important;
      line-height: 25px !important;
      height: 40px !important;
    }
  }
}
.modalDelete {
  .modalBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 10px;
    .modalDeleteBlock {
      .modalHeader {
        margin-bottom: 100px;
        h3 {
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-size: 21px;
          line-height: 25px;
          color: #100a30;
          margin: 0;
          margin: 0;
          text-align: center;
        }
      }
      .modalFooter {
        display: flex;
        justify-content: space-between;
        & > div {
          width: 50%;
          margin-right: 5px;
          &:last-child {
            margin-right: 0 !important;
          }
        }
        .modalCancelBtn {
        }
        .modalAgreeBtn {
        }
      }
    }
  }
}
