.quetionsList {
  .quetionsListButton {
    max-width: 250px;
    margin-bottom: 30px;
  }
  .quetionsListBlock {
    margin-bottom: 20px;
    .quetionsListRow {
      .questionsItem {
        border: 1px solid #336b88;
        display: flex;
        justify-content: center;
        min-height: 110px;
        padding: 5px;
        border-radius: 20px;
        align-items: center;
        transition: all 0.3s ease;
        cursor: pointer;
        .questionsItemName {
          font-family: 'Poppins', sans-serif;
          font-style: normal;
          font-weight: 600;
          text-align: center;
          text-transform: uppercase;
          transition: all 0.3s ease;
          word-wrap: break-word;

          p {
            font-size: 20px;
            line-height: 27px;
            color: #336b88;
            margin: 0 0 5px 0;
          }
          span {
            color: #100a30;
            font-size: 14px;
            line-height: 17px;
          }
        }
        .questionsItemIcon {
          display: none;
        }
        &:hover {
          transition: all 0.3s ease;
          background-color: #00000057;
          .questionsItemName {
            display: none;
          }
          .questionsItemIcon {
            display: block;
          }
        }
      }
    }
  }
}
